body {
  margin: 0;
  font-family: "Inter", "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
}

/* ===== DASHBOARD ===== */
.container {
  max-width: 1800px;
  margin: 240px auto;
  padding: 55px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.25);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.navbar h1 {
  margin: 0;
  color: #1f2937;
}

.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 20px 28px;
  border-radius: 10px;
  cursor: pointer;

  
}

.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  margin-bottom: 30px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
  font-size: 30px;
  
}

/* ===== LOGIN / SIGNUP ===== */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-card {
  width: 920px;   
  padding: 40px;
  background: white;
  border-radius: 22px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.3);
  text-align: center;
  height: 700px;
  
}

.login-card h1 {
  margin-bottom: 25px;
  color: #4f46e5;
  font-size: 40px;
}

.login-card input {
  width: 100%;
  padding: 14px;
  margin-bottom:65px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 35px;
}

.login-card button {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: white;
  border: none;
  font-size: 35px;
  cursor: pointer;
  
}

/* ===== TABLE ===== */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  
}

th {
  background: #eef2ff;
  padding: 12px;
  
}

td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
  
}
